body { margin:0; padding: 0 ; background: #cfe7fa }
  #wrapper { padding: 10px; }
    #intro { max-width: 1000px; margin: 100px auto; }

  #basic {  }
    #basic .bubble { border: solid 1px;  opacity: .6; }
    #basic .bubble:hover { opacity: 1; }

  #game { background: linear-gradient(to bottom, #cfe7fa 0%,#6393c1 100%); }
      #game .wrap {}
        #game .wrap .bear { position: absolute; left: 50px; top: 110px; width: 100px; height: 122px; background: url(../img/bear.png) no-repeat 0 0;  }
      #game .bubble { width: 97px!important; height: 163px!important; background: url(../img/balloon.png) no-repeat 100% 0!important; }
        #game .bursted .bear { position: absolute; background-position: 100% 0!important;}

       #game .bursted .bubble { background-position: 0 0!important; }

       table td { vertical-align: top; }

      .form {  }
        .form label { display: inline-block; min-width: 200px; }
        .form input[type=number] { max-width: 50px; }
